<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>删户错误</title>
</head>
<body>
    <h2 style="text-align: center;">删户失败</h2>
    <h3 style="text-align: center;">最有可能出现的错误</h3>
    <h3 style="text-align: center;">1.用户名包含\ / " [ ] : | < > + = ; , ? * @</h3>
    <h3 style="text-align: center;">2.用户名包含空格</h3>
    <h3 style="text-align: center;">3.密码包含空格</h3>
    <h3 style="text-align: center;">3.PIN包含空格</h3>
    <h3 style="text-align: center;">4.服务器出现错误</h3>
</body>
</html>